h1{
    color: red;
    background-color: darksalmon;
    border: 300px solid bisque;
    font-family: fantasy;
}

.title{
    color: aqua;
}

.container{
    background-color: rgb(54, 112, 112);
    width: fit-content;
    height: fit-content;
    padding: 3px;

}

.container h2{
    margin: auto;
    text-align: center;
    color: #461e1e;
    width: fit-content;
}